<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    
    <title>PROJECT NAME HERE</title>
  </head>
  <body>
    <h1>
                                                                                <!--¯\_(ツ)_/¯-->
      PROJECT NAME
    </h1>
    <p>
      
    </p>
		
		<form action="/do">
			<form action="/login" method="post" accept-charset="utf-8">
      <p><input type="radio" name="do" value="project"/>Create a New Project<br>
      <input type="radio" name="do" value=""/>Donate to projects on your wishlist<br>
      <input type="radio" name="do" value="browse"/>Browse other interesting projects<br>
      <!-- <input type="hidden" name="login" value="true"/> -->
      <button type="submit">Submit</button>
		</form>
		
  </body>
</html>